<head>
    <title><%- title %></title>
    <meta name="description" content="<%= description %>">
    <link rel="canonical" href="<%= canonical %>">
    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- description %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- canonical %>">
    <meta property="og:image" content="<%- og_image %>">
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- title %>">
    <meta name="twitter:description" content="<%- description %>">
    <meta name="twitter:image" content="<%- og_image %>">

    <!-- Mobile / Browser -->
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Icons -->
    <link rel="icon" href="/images/favicon.png">
    <link rel="apple-touch-icon" href="/client/images/favicon.png">

    <!-- vendor -->
    <link rel="stylesheet" href="./client/vendors/css/font-awesome.css" />
    <noscript><link rel="stylesheet" href="./client/vendors/css/font-awesome.css"></noscript>

    <link rel="stylesheet" href="./client/vendors/css/lightgallery.min.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="./client/vendors/css/lightgallery.min.css"></noscript>

    <link rel="stylesheet" href="./client/vendors/css/swiper-bundle.min.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="./client/vendors/css/swiper-bundle.min.css"></noscript>

    <link rel="stylesheet" href="./client/vendors/css/coreui.min.css">

    <link rel="stylesheet" href="./client/vendors/css/cropper.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="./client/vendors/css/cropper.css"></noscript>

    <!-- Main CSS -->
    <link rel="stylesheet" href="./client/dist/css/main.css">
</head>
