<!DOCTYPE html>
<html lang="en">
    <head> 
        <%- include('./parts/head.ejs') %> 
    </head>
    <body>
        <!-- Modal -->
        <%- include('./parts/modal.ejs') %>
        <!-- Nav menu -->
        <%- include('./parts/nav.ejs') %>
        <!-- Header -->
        <header id="header">
            <%- include('./parts/header.ejs') %>
        </header>

        <%- include('./parts/nav_mobile.ejs') %>
        
        <main>
            <!-- Main sections -->
            <%- include('./sections/main.ejs') %>
        </main>
        <!-- Footer -->
        <footer class="bg-dark">
            <%- include('./parts/footer.ejs') %>
        </footer>
        
        <!-- Scripts -->
        <%- include('./parts/scripts.ejs') %>
    </body>
</html>